@mixin decorNumbers {
  top: 0;
  font-size: 400px;
  font-family: $font-accent;
  font-weight: 700;
  color: $white;
  opacity: 0.02;
  position: absolute;
  line-height: 1.15;
}

@mixin mediaTablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}
